.hero {
  background-color: $veryLightGray;

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }
  &__image {
    position: relative;
    background-image: url("/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      min-height: 41rem;
      // background-image: url("/images/bg-intro-desktop.svg");
      // background-position: left center;
      background-image: none;
    }
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("/images/image-mockups.png");
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;
      @include breakpoint-up(large){
        height: 120%;
        width: 122%;
        background-size: 94%;
        background-position: center 150%;  
      }
    }

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("/images/bg-intro-desktop.svg");
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(large){
      //   width: 150%;
      //   background-size: 122%;
      // background-repeat: no-repeat;
      // background-position: 0% 83%;
      width: 170%;
      background-size: 120%;
      background-repeat: no-repeat;
      background-position: -5% 63%;
      }
    }
  }
  &__text {
    text-align: center;
    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }
    h1 {
      font-weight: 300;
      line-height: 1.15;
      font-size: 2.31rem;
      color: $darkBlue;
      margin-bottom: 1.5rem;
      @include breakpoint-up(large) {
        font-size: $font-xlg;
      }
    }
    p {
      line-height: 1.5;
      font-size: 12px;
      margin-bottom: 2.25rem;
    }
  }
}
